{% extends 'layout.html.twig' %}

{% block body %}
	{{ parent() }}

	{{ include('MBUserBundle:Task:messages/success.html.twig') }}
	{{ include('MBUserBundle:Task:messages/warning.html.twig') }}

	<div class="container">
		<div class="col-md-12">
			<div class="page-header margin-none">
				<h2 class="padding-none">{{ 'Tasks'|trans }}</h2>
			</div>
			{% if not tasks|length %}
				<h3>{{ 'No tasks'|trans }}</h3>
			{% endif %}
			{% if tasks|length %}
			<div class="table-responsive">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>{{ 'Title'|trans }}</th>
							<th>{{ 'Date'|trans }}</th>
							<th>{{ 'User'|trans }}</th>
							<th>{{ 'Status'|trans }}</th>
							<th>{{ 'Actions'|trans }}</th>
						</tr>
					</thead>
					<tbody>
				        {% for task in tasks %}
				            <tr data-id="{{ task.id }}">
				                <td>
				                	<a href="{{ path('mb_task_view', { id: task.id }) }}">{{ task.title }}</a>
				                </td>
				                <td>{{ task.createdAt|date('d-m-Y H:i') }}</td>
				                <td>{{ task.user.firstName }} {{ task.user.lastName }}</td>
				                <td>
				                	{% if task.status == 0 %}
										<span class="glyphicon glyphicon-time text-danger" title="Waiting" id="glyphicon-{{task.id}}"></span>
									{% elseif task.status == 1 %}
										<span class="glyphicon glyphicon-ok text-success" title="Finish"></span>
				                	{% endif %}
								</td>
								<td class="actions">
								    <a href="#" class="btn btn-sm btn-success btn-process" id="button-{{task.id}}">{{ 'Finish'|trans }}</a>
								</td>
				            </tr>
				        {% endfor %}
					</tbody>
				</table>
			</div>
			{% endif %}
		</div>
	</div>
	
	{{ include('MBUserBundle:User:forms/form.html.twig', {form: update_form, id: 'form-update', with_submit: false, message: null}) }}
	
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/mbuser/js/task-process.js') }}"></script>
{% endblock %}

